html, body{
    height: 100%;
    background: #F5F5F5;
}

.box-default{
    background: #FEFEFE;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    margin: 15px auto;
    float: none;
    border-radius: 3px;
    white-space: normal;
}

.title-box-default{
    font-size: 1.1rem;
    font-weight: bold;
}

select {
    background: #FAFAFA !important;
    border: none !important;
    font-size: 16px !important;
    font-weight: lighter !important;
    width: 75px;
}

.form-style{
    border-right: 1px solid #DDD;
}

.lb-idioma{
    padding: 3px 15px;
    border-radius: 3px;
    border: 1px solid #007bff;
    color: #007bff;
}

.user{
    width: 350px;
}

.avatar{
    background: #FFFFFF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
}

.avatar img{
    height: 100%;
    text-align: center;
}

.flex-parent{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flex-child{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name-user{
    font-size: 23px;
    margin-top: 10px;
    margin-left: 110px;
}

.email-user{
    margin-left: 10px;
    color: #777;
    font-size: medium;
}

.acciones{
    margin-left: 10px;
}

.check-confirmed{
    color: #00e676;
    font-size: 20px;
}

.check-no-confirmed{
    color: #aaa;
    font-size: 20px;
}

.box-recomendaciones{
    border-left: 1px solid dimgrey;
}


.pt-6{
    padding-top: 5rem !important;
}

/* PERFIL */
.perfil-title{
    font-weight: bold;
    font-family: Tahoma;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #111111;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid cadetblue;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #111 !important;
}

.nav-link {
    display: block;
    padding: 0;
    margin-right: 20px;
}

.nav-tabs, .nav-link{
    color: #777777;
}

.content-img{
    padding-top: 30px;
}

.perfil-img{
    position: relative;
    width: 80%;
}

.perfil-img:before{
    content: '';
    display: block;
    padding-top: 100%;
}

.content-img>.perfil-img>.avatar>img{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    border-radius: 50%;
}


.perfil-img>.avatar{
    width: 75%;
    height: 75%;
    box-sizing:border-box;
}

.perfil-nombre>h2{
    font-weight: bold;
}

.change-img-link{
    display: block;
    text-align: center;
    width: 80%;
}

.perfil-data-list{
    list-style-type: none;
    padding-left: 0;
}

.perfil-data-list>li{
    padding: 15px 0;
}

.list-data-item{
    cursor: text !important;
}


