html, body{
    height: 100%;
}

.box-default{
    background: #FEFEFE;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    padding: 0 20px 20px;
    margin: 0 auto;
    float: none;
    border-radius: 3px;
    white-space: normal;
}

select {
    background: #FAFAFA !important;
    border: none !important;
    font-size: 16px !important;
    font-weight: lighter !important;
    width: 75px;
}

.form-style{
    border-right: 1px solid #DDD;
}

.lb-idioma{
    padding: 3px 15px;
    border-radius: 3px;
    border: 1px solid #007bff;
    color: #007bff;
}

.user{
    width: 350px;
}

.content-user{
    margin-top: 56px;
}

.avatar{
    background: #FFFFFF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
}

.flex-parent{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flex-child{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.avatar img{
    height: 100%;
    text-align: center;
}
.name-user{
    font-size: 23px;
    margin-top: 10px;
    margin-left: 110px;
}

.email-user{
    margin-left: 10px;
    color: #777;
    font-size: medium;
}

.acciones{
    margin-left: 10px;
}

.box-info{
    margin-top: 100px;
}

.check-confirmed{
    color: #00e676;
    font-size: 20px;
}

.check-no-confirmed{
    color: #aaa;
    font-size: 20px;
}

.box-recomendaciones{
    border-left: 1px solid dimgrey;
}
